/* Start General Footer Settings*/

.footer {
  font-family: "IBM Plex Sans";
  font-style: normal;

  padding: 4.25rem 7rem;
  background: linear-gradient(
    90.18deg,
    #0d0d0d 0%,
    rgba(13, 13, 13, 0.85) 100%
  );
  color: white;
}

.footer h1,
p {
  padding: 0;
  margin: 0;
}

.footer h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
}

.footer p,
a {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}

.footer .iconify {
  font-size: 1.25rem;
  margin-right: 1rem;
}

/* End General Footer Settings */

/* Start Box 1 */

.footer .upper_wrap .box1 img {
  width: 5.25rem;
  margin-bottom: 0.75rem;
}

.footer .upper_wrap .box1.sum {
  margin-bottom: 1.25rem;
}

.footer .upper_wrap .box1.sum .para{
    width: 16.5rem;
}

.footer .upper_wrap .box1.info .ig {
  margin-bottom: 1rem;
}

/* End Box 1 */

/* Start Box 2 */

.footer .upper_wrap .box2.time {
  margin-bottom: 6rem;
}

.footer .upper_wrap .box2.time p.hari {
  margin-top: 1rem;
}

.footer .upper_wrap .box2.place p.jalan {
  margin-top: 1rem;
}
/* End Box 2 */

/* Start Quick Links */
.footer .upper_wrap .kol3 h1 {
  margin-bottom: 1.25rem;
}

.footer .upper_wrap .kol3 ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.footer .upper_wrap .kol3 ul {
  margin: 0;
  padding: 0;
}

.footer .upper_wrap .kol3 ul li a.qlinks {
  text-decoration: none;
  color: white;
}
/* End Quick Links */

/* Start Box 4 */

.footer .upper_wrap .kol4 h1 {
  margin-bottom: 1.25rem;
}

.footer .upper_wrap .kol4 .ig_feed {
  margin-bottom: 1.25rem;
}

.footer .upper_wrap .kol4 .ig_feed img {
  margin-right: 1.25rem;
}

.footer .upper_wrap .kol4 .ig_feed p.caption {
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.footer .upper_wrap .kol4 .ig_feed p.date {
  font-size: 0.75rem;
}

/* End Box 4 */

/* Start Sub Form */

.footer .middle_wrap .kol5 {
  margin-bottom: 6.5rem;
}

.footer .middle_wrap .kol5 h1 {
  margin-bottom: 1.5rem;
}

.footer .middle_wrap .kol5 .subscribe_box {
  padding: 0.75rem;
  border-radius: 8rem;
  background: white;
}

.footer .middle_wrap .kol5 .subscribe_box .form_sub {
  width: 100%;
  border: none;
  outline: none;

  line-height: 148%;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1.25rem;
  padding-right: 1.25rem;
}

.footer .middle_wrap .kol5 .btn_sub {
  border: none;
  border-radius: 2rem;
  background: linear-gradient(96.41deg, #e60000 0%, #e85300 100%);
  padding: 0.525rem 2.25rem;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 148%;
  color: white;
}

/* End Sub Form */

/* Start Disclaimer */

.footer .bottom_wrap p {
  font-size: 0.75rem;
  line-height: 148%;
}

/* End Disclaimer */

@media only screen and (max-width:993px) {
  .footer .upper_wrap .box1.sum .para{
    width: 30rem;
  }

  .footer .upper_wrap .box1.info{
    margin-bottom: 2.5rem;
  }

  .footer .middle_wrap .kol5 .btn_sub{
    width: 100%;
    margin-top: 1rem;
  }

  .footer .upper_wrap .box2.time{
    margin-bottom: 3rem;
  }

  .footer .upper_wrap .box2.time .hari,.jam{
    margin-left: 2.5rem;
  }

  .footer .upper_wrap .box2.place{
    margin-bottom: 2.5rem;
  }

  .footer .upper_wrap .box2.place .jalan{
    margin-left: 2.25rem;
  }

  .footer .upper_wrap .kol3{
    margin-bottom: 2.25rem;
  }

  .footer .upper_wrap .kol4 .ig_feed.f2{
    margin-bottom: 2.25rem;
  }
}

@media only screen and (max-width:577px) {
  .footer{
    padding: 2.5rem 1.5rem;
  }

  .footer .upper_wrap .box1.sum .para{
    width: 19rem;
  }
}