/* Start General Header Settings */
.header{
    height: 100vh;
    margin-top: 5rem;
}
/* End General Header Settings */

/* Start Left Banner */
.header .head_wrap.atas{
    margin-bottom: 1rem;
    height: 60vh;
}
.header .head_wrap .head_left{
    padding: 8rem 2rem 2rem 7.5rem;
    background: linear-gradient(-220.57deg, #0D0D0D 0%, #313131 100.02%);
    border-radius: 0px 0px 24px 24px;
}

.header .head_wrap .head_left .img_holder.left{
    left: 0%;
    top: 0%;
}

.header .head_wrap .head_left .img_holder.left img{
    height: 100%;
}

.header .head_wrap .head_left .img_holder.top{
    top: 10%;
    left: 40%;
}

.header .head_wrap .head_left .text_holder.left{
    z-index: 1;
}

.header .head_wrap .head_left .text_holder.left .welcome{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: rgba(232, 83, 0, 1);
}
.header .head_wrap .head_left .text_holder.left .title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 120%;
    color: white;
}
/* End Left Banner */

/* Start Right Banner */
.header .head_wrap .head_right{
    /* background-image: url(../img/headerright.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

    z-index: -2;
    border-radius: 0 0 24px 24px;
}

.header .head_wrap .head_right img{
    width: 100%;
}
/* End Right Banner */

/* Start Bot Left */
.header .head_wrap.bawah .bot_left{
    padding: 0rem 2rem 0.5rem 7.5rem;
}

.header .head_wrap.bawah .bot_left .para{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(41, 38, 33, 0.75);
}

.header .head_wrap.bawah .bot_left .btn_learn{
    margin-bottom: 0.75rem;
}

.header .head_wrap.bawah .bot_left .btn_learn .learn{
    border: 0px;
    border-radius: 2rem;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    background: linear-gradient(96.41deg, #E60000 0%, #E85300 100%);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    text-align: center;
    color: white;
    transition: 0.5s;
}

.header .head_wrap.bawah .bot_left .btn_learn .learn:hover{
    padding: 0.75rem 2.75rem;
}

.header .head_wrap.bawah .bot_left .btn_learn .learn .iconify{
    padding-right: 0.5rem;
}
/* End Bot Left */

/* Start Bot Right */
.header .head_wrap.bawah .bot_right img{
    width: 100%;
}
/* End Bot Right */

@media only screen and (max-width:1025px) {
    .header .head_wrap .head_left{
        padding: 4rem 2rem 2rem 2rem;
    }

    .header .head_wrap .head_left .text_holder.left .title{
        font-size: 3.5rem;
    }

    .header .head_wrap.bawah .bot_left{
        padding: 0rem 0rem 0.25rem 2rem;
    }

    .header .head_wrap.bawah .bot_left .para{
        font-size: 1.25rem;
    }

    .header .head_wrap.bawah .bot_left .btn_learn{
        margin-bottom: 0.75rem;
    }

    .header .head_wrap.bawah .bot_left .btn_learn .learn{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width:993px) {
    .header{
        height: 100%;
        margin-top: 9%;
    }

    .header .head_wrap.atas{
        height: auto;
        margin-bottom: 13rem;
    }

    .header .head_wrap .head_right{
        position: absolute;
        z-index: 2;

        width: 70%;
        top: 70%;
        left: 15%;
        border-radius: 24px;
    }

    .header .head_wrap .head_right img{
        border-radius: 24px;
        top: 70%;
    }

    .header .head_wrap .head_left .img_holder.top{
        top: 0%;
        left: 80%;
    }

    .header .head_wrap .head_left .text_holder.left{
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    .header .head_wrap.bawah .bot_right img{
        width: 75.5%;
    }

    .header .head_wrap.bawah .bot_left .para{
        width: 75.5%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .header .head_wrap.bawah .bot_left .btn_learn .learn{
        padding: 0.75rem 13.5rem;
    }

    .header .head_wrap.bawah .bot_left .btn_learn .learn:hover{
        padding: 0.75rem 13.5rem;
    }

    .header .head_wrap.bawah .bot_left{
        padding-left: 0;
    }
}

@media only screen and (max-width:577px) {
    
    .header .head_wrap .head_left .text_holder.left{
        margin-bottom: 5rem;
    }

    .header .head_wrap .head_left .text_holder.left .welcome{
        font-size: 1.25rem;
    }

    .header .head_wrap .head_left .text_holder.left .title{
        font-size: 2.5rem;
        width: 90%;
    }

    .header .head_wrap .head_right{
        position: absolute;
        z-index: 2;

        width: 90%;
        top: 60%;
        left: 5%;
        border-radius: 24px;
    }

    .header .head_wrap .head_left .text_holder.left{
        margin-bottom: 5rem;
    }

    .header .head_wrap.bawah .bot_left .btn_learn .learn{
        padding: 0.75rem 12rem;
    }

    .header .head_wrap.bawah .bot_right img{
        width: 90%;
    }

    .header .head_wrap.bawah .bot_left .para{
        width: 90%;
    }
    .header .head_wrap.bawah .bot_left .btn_learn .learn{
      padding: 0.75rem 5rem;
    }

    .header .head_wrap.bawah .bot_left .btn_learn .learn:hover{
        padding: 0.75rem 5rem;
    }

    .header .head_wrap .head_left .img_holder.top{
        left: 70%;
    }

    .header .head_wrap .head_right{
        top: 65%;
    }
}

@media only screen and (max-width:376px){
    .header .head_wrap.atas{
        margin-bottom: 8rem;
    }
}

@media only screen and (max-width:320px){
    .header .head_wrap.atas{
        margin-bottom: 6rem;
    }
}