.headermenu
{
    /* height: 93.563rem; */
    background: linear-gradient(90.18deg, #0D0D0D 0%, rgba(13, 13, 13, 0.85) 100%);
    /* margin-bottom: 60px; */
}

.headermenu .titwrap h1
{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    text-transform: capitalize;
    color: #E85300;
    margin-top: 120px;
}
.headermenu .titwrap h2
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    /* or 86px */
    width: 47rem;
    word-wrap: break-word;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.headermenu .gmenu-wrap .gmenu
{
    height: 15rem;
    border-radius: 24px;
    width: 75rem;
}

.headermenu .gmenu-wrap .gmenu img
{
    width: 75rem;
    height: 15rem;
    border-radius: 24px;
}

.headermenu .ourmenu h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 77px */
    margin-top: 60px;
    margin-bottom: 48px;
    color: #FFFFFF;

}

.headermenu .menuproduk .card
{
    padding: 16px 16px 32px 16px;
    width: 24rem;
    background: #2B2B2B;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.16);
    transition: 0.5s;
    height: 34.5rem;
    border-radius: 24px;
    margin-bottom: 116px;
}
/* animasi */

@keyframes fade 
{
    from
    {
        opacity: 0%;
    }
    to 
    {
        opacity: 100%;
    }
}


/* end animasi */
.headermenu .menuproduk .card:hover
{
    background: linear-gradient(158.25deg, #E60000 0%, #E85300 100%);
    height: 38rem;
}

.headermenu .menuproduk .card:hover p 
{
    display: inline-block;
    animation: fade 0.5s forwards;
}
.headermenu .menuproduk .card:hover h3
{
    display: inline-block;
    animation: fade 0.5s forwards;
    margin-top: 8px;
}
.headermenu .menuproduk .card .card-body
{
    padding: 0;
}
.headermenu .menuproduk .card h5
{
    margin-top: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    
    color: #FFFFFF;
}
.headermenu .menuproduk .card p
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    display: none;
    
    color: rgba(255, 255, 255, 0.75);
}

.headermenu .menuproduk .card h3
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */
    
    transition: 0.5s;
    color: #FFFFFF;
}

.headermenu .menuproduk .c-1
{
    margin-right: 24px;
}
.headermenu .menuproduk .c-2
{
    margin-right: 24px;
}


/* responsive */

@media only screen and (max-width: 960px)
{
    .headermenu .gmenu-wrap .gmenu
    {
        width: 19.5rem;
        height: 5rem;
    }
    .headermenu .gmenu-wrap .gmenu img
    {
        border-radius: 12px;
        width: 19.5rem;
        height: 5rem;
    }
    .headermenu .titwrap .tit
    {
        width: 19.5rem;
    }
    .headermenu .titwrap .tit h1
    {
        margin-top: 64px;
    }
    .headermenu .titwrap .tit h2
    {
        font-size: 40px;
        margin-bottom: 32px;
    }
    .wrapour .ourmenu
    {
        width: 19.5rem;
    }
    .wrapour .ourmenu h1
    {

        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        margin-top: 40px;
        margin-bottom: 32px;   
        color:white;
    }
    .headermenu .menuproduk .card
    {
        height: 30.875rem;
        margin-bottom: 0px;
        width: 19.5rem;
    }
    .headermenu .menuproduk .c-1
    {
        margin-right: 0px;
        margin-bottom: 32px;
    }
    .headermenu .menuproduk .c-2
    {
        margin-right: 0px;
        margin-bottom: 32px;
    }
    .headermenu .menuproduk .c-3
    {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .headermenu .menuproduk .card h5
    {
        font-size: 20px;
    }
    .headermenu .menuproduk .card p
    {
        display: inline-block;
        font-size: 12px;
    }
    .headermenu .menuproduk .card h3
    {
        font-size: 32px;
        margin-top: 9.5px;
        margin-bottom: 26.75px;
    }
    .headermenu .menuproduk
    {
        align-items: center;
    }

    .headermenu .menuproduk .card:hover
    {
        height: 30.875rem;
        background: #2B2B2B;
        box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.16);
    }
    
    .headermenu .menuproduk .card:hover p 
    {
        display: inline-block;
        animation: fade 0.5s forwards;
    }
    .headermenu .menuproduk .card:hover h3
    {
        display: inline-block;
        animation: fade 0.5s forwards;
        margin-top: 0px;
    }
}