.menu .food .foodtit
{
    width: 75rem;
}
.menu .food .foodtit h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    color: #E85300;
    margin-top: 64px;
}
.menu .makanan .wrapmakanan
{
    margin-top: 40px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food
{
    width: 62.25rem;
}

.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi
{
    display: flex;
    justify-content: space-between;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: rgba(41, 38, 33, 0.75);
    text-align: left;
    
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi .harga
{
    width: 13.813rem;
    height: 4.188rem;
    background: linear-gradient(95.25deg, #E60000 0%, #E85300 100%);
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis1
{
    height: 0.1px; 
    background-color: black; 
    width: 552.32px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis2
{
    height: 0.1px; 
    background-color: black; 
    width: 440.5px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis3
{
    height: 0.1px; 
    background-color: black; 
    width: 539.5px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis4
{
    height: 0.1px; 
    background-color: black; 
    width: 562px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis5
{
    height: 0.1px; 
    background-color: black; 
    width: 539px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis6
{
    height: 0.1px; 
    background-color: black; 
    width: 539px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis7
{
    height: 0.1px; 
    background-color: black; 
    width: 429px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis8
{
    height: 0.1px; 
    background-color: black; 
    width: 586px;
    margin-right: 16px;
    margin-left: 16px;
}
.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi #garis9
{
    height: 0.1px; 
    background-color: black; 
    width: 586px;
    margin-right: 16px;
    margin-left: 16px;
}


.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi .harga span
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.menu .makanan .wrapmakanan .g-makan .isi-food h3
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
}

.menu .makanan .wrapmakanan .g-makan .isi-food #roti
{
    width: 28.625rem;
}
.menu .makanan .wrapmakanan .g-makan img
{
    width: 11.25rem;
    height: 11.25rem;
    margin-right: 24px;
}

.menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi h3
{
    display: none;
}


/* responsive */

@media only screen and (max-width: 960px)
{
    .menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi .garis
    {
        display: none;
    }

    .menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        align-items: flex-start;
        height: 9.25rem;
        overflow: visible;
    }

    .menu .makanan .wrapmakanan .g-makan .isi-food
    {
        width:7.813rem;
    }

    .menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi .harga
    {
        width: 7.813rem;
        height: 2.688rem;
        background: linear-gradient(95.25deg, #E60000 0%, #E85300 100%);
        border-radius: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .menu .makanan .wrapmakanan .g-makan .isi-food #sayur
    {
        position: relative;
        bottom: 25px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #roti2
    {
        position: relative;
        bottom: 5px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #nasi
    {
        position: relative;
        bottom: 15px;
    }

    .menu .makanan .wrapmakanan .g-makan .isi-food #kopi
    {
        position: relative;
        bottom: 30px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #alpukat
    {
        position: relative;
        bottom: 25px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #stroberri
    {
        position: relative;
        bottom: 25px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #ice
    {
        position: relative;
        bottom: 10px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #macaron
    {
        position: relative;
        bottom: 25px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food #brownies
    {
        position: relative;
        bottom: 25px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi h3
    {
        font-size: 10px;
        display: inline;
        position: relative;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food h3
    {
        font-size: 10px;
        display: none;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi .harga span
    {
        font-size: 16px;
    }
    .menu .makanan .wrapmakanan .g-makan .isi-food .pembungkus-isi h1
    {
        font-size: 20px;
    }
    .menu .makanan .wrapmakanan .g-makan img
    {
        width: 9.25rem;
        height: 9.25rem;
        margin-right: 30px;
    }

    .menu .food .foodtit
    {
        width: 19.5rem;
    }
    .menu .food .foodtit h1
    {
        margin-top: 40px;
        font-size: 36px;
    }
    .menu .makanan .wrapmakanan
    {
        margin-top: 24px;
    }
}