.open-button {
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 240px;
    right: 100px;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 100;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: block;
    position: fixed;
    bottom: 190px;
    right: 40px;
    z-index: 9;
    transition: 0.5s;
    transform: scale(0,0);
  }

  .chat-popup .logo
  {
    width: 100%;
    height: 5rem;
    background-color: #2B2B2B;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
  }
  .chat-popup .logo .iconify
  {
    font-size: 24px;
    margin-right: 24px;
  }

  .chat-popup .logo img
  {
    width: 3rem;
    height: 3rem;
    margin-right: 16px;
  }
  .chat-popup .logo .titchat
  {
    margin-right: 24px;
  }
  .chat-popup .logo .titchat h1
  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    
  }
  .chat-popup .logo .titchat h2
  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    
  }

  .chat-popup .chat
  {
    margin-top: 24px;
  }
  .chat-popup .chat img
  {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    position: relative;
    top: 82px;
  } 
  .chat-popup .chat .kotakchat
  {
    width: 17rem;
    height: 12.125rem;
    background: #F1F1F1;
    border-radius: 8px;
  }
  .chat-popup .chat .kotakchat p
  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(41, 38, 33, 0.75);
  }
  
  .chat-popup .balasan input:focus
  {
    caret-color: orange;
    
  }
  .chat-popup .balasan input
  {
    height: 4rem;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 24px;
  }
  .chat-popup .balasan
  {
    height: 4rem;
    margin-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .chat-popup .balasan .iconify
  {
    font-size: 24px;
    position: relative;
    margin-right: 40px;
    color: rgba(0, 0, 0, 0.5);
  }
  /* Add styles to the form container */
  .form-container {
    border-radius: 12px;
    width: 24rem;
    height: 24.125rem;
    /* padding: 10px; */
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    /* padding: 15px; */
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  @keyframes fade {
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
  }