@import url(./navbar.css);

@import url(./header.css);

@import url(./about.css);

@import url(./produk.css);

@import url(./testimoni.css);

@import url(./help.css);

@import url(./blog.css);

@import url(./blogmenu.css);

@import url(./footer.css);

@import url(./headermenu.css);

@import url(./contact.css);

@import url(./menu.css);

@import url(./our.css);

@import url(./popup.css);

html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.preloader {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(107.15deg, #e60000 0%, #e85300 100%);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader .logo img {
  width: 20.196rem;
  height: 7.688rem;
}
